

<div class="abc">
  <div style="color: white; font-size: 28px; font-weight: bold; max-width: 650px; padding-left: 280px; padding-bottom: 10px; ">Learn coding in easy step by step way. Excel in your career.</div>
  <div style="color: white; font-size: 18px; max-width: 650px; padding-left: 280px; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
  <div class="search-area">
    <input type="text" name="" id="" placeholder="Search Courses">
    <button>Search Courses</button>
  </div>
</div>


<!--<div class="abc">
  <div style="color: white; font-size: 20px; font-weight: bold; max-width: 450px; padding-bottom: 10px;">Learn coding in easy step by step way. Excel in your carrer.</div>
  <div style="color: white; font-size: 14px; max-width: 450px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
</div>
<div class="search-area">
  <input type="text" name="" id="" placeholder="Search">
  <button>Search</button>
</div>-->
